@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  margin: unset;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a0d6ae;
  color: white;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    align-items: center
  }

  .navbar-toggle {
    display: none;

    @media (max-width: 960px) {
      font-size: 2rem;
    }

    @media (max-width: 960px) {      
      display: block;
      cursor: pointer;
    }
  }

  @media (min-width: 1440px) {
    max-width: 100vw;
  }

  @media (max-width: 960px) {
    max-height: 100vh;
  }
}

.toggled-nav {
  display: none;

  @media (max-width: 960px) {   
    display: flex;
    flex-direction: column; 
    background-color: #a0d6ae; 
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px 50px;
    width: 100%;
    max-width: 1300px;
    z-index: 200;
    position: absolute;
    top: 0;

    .toggle-navbar-container { 
      display: flex;
      justify-content: space-between;
      z-index: 1;
      
      .toggle-navbar-active {
        @media (max-width: 960px) {
          font-size: 2rem;
          color: white;
        }
    
        @media (max-width: 960px) {      
          display: block;
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }

    .toggle-navbar-links{
      display: none;

      @media (max-width: 960px) {      
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .toggle-links {
        width: 40%;
        list-style: none;

        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
          font-size: 1.25rem;
      
          @media (max-width: 960px) {
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
          }
        }

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 125px;
          text-decoration: none;
          height: 100%;
          transition: all 0.3s ease;
      
          @media (max-width: 960px) {
            width: 100%;
          }
      
          &:hover {
            cursor: pointer;
            color: #138b87;
            transition: all 0.3 ease;
          }
        }
      }
    }
  }
}
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

  @media (max-width: 960px) {
    display: none;
    // grid-template-columns: auto;
    // margin: 0;
    // width: 100%;
    // position: absolute;
    // // top: -1000px;
    // opacity: 1;
    // transition: all 0.5s ease;
    // z-index: -1;

    // &:active {
    //   background: #9ad4e7;
    //   top: 100%;
    //   opacity: 1;
    //   transition: all 0.5s ease;
    //   z-index: 99;
    //   height: 60vh;
    //   font-size: 1.6rem;
    // }
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;

    @media (max-width: 960px) {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;

    @media (max-width: 960px) {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      color: #138b87;
      transition: all 0.3 ease;
    }
  }
}

h1 {
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
}

.main-page {
    text-align: center;
    background-color: rgb(200, 245, 223);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    padding: 5rem;

    img {
      width: 800px;
      opacity: 0.8;

      @media (max-width: 1334px) {
        width: 600px !important;
        margin: unset;
      }

      @media (max-width: 500px) {
        display: none;
      }
    }

    @media (max-width: 1400px) {
      padding: 2rem;
    }

    @media (max-width: 960px) {
      position: relative;
    }

}

.meals-page-container {
  margin: 0px auto;
  position: relative;
}

.meals-holder {
  min-width: 0px;
  min-height: 0px;
  display: grid;
  grid-gap: 26px 16px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  margin: auto;

  @media (min-width: 1200px) {
    width: 1152px;
  }

  @media (min-width: 1000px) {
    padding: 32px 0px;
  }
}

.meals-container {
  min-width: 0px;
  min-height: 0px;
  width: 100%;
  // border: 1px solid rgb(223, 226, 231);
  border-radius: 20px;
  background-color: #a0d6ae;
  position: relative;
  text-align: left;
  color: antiquewhite;


  &:hover {
    background-color: #dbf8eb;
    transform: translateY(-10px);
    color: black;
  }
}

.meals-detail {
  margin: 3rem auto;
  position: relative;

  h4{
    color: red;
  }
}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(163, 211, 248);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

  &:nth-child(2) {
    animation-delay: -0.5s;
  }

}


@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.individual-meal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;

  .meal-title {
    font-size: 2rem;
  }

}

.add-meal-reservation {
  background: #1CD8D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;

}